<div class="row">
  <div class="col-xs-12 col-sm-offset-4 col-sm-4">
    <%= simple_form_for(@contact) do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone_number %>
      <%= f.input :email %>
      <%= f.association :organization, include_blank: 'Create a new one' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

