<div class="text-center">
  <div class="contact-name">
    <h2>
      <%= @contact.first_name %> <%= @contact.last_name %>
    </h2>
  </div>
  <div class="contact-org">
    <h3>
      <%= @contact.organization.name %>
    </h3>
  </div>
  <div class="contact-contacts">
    <p>
      <%= mail_to @contact.email, @contact.email %>
    </p>
    <p>
      <%= link_to @contact.phone_number, "tel:#{@contact.phone_number}" %>
    </p>
  </div>

  <div id="actions">
    <% if @contact.actions.blank? %>
      Add an action for <%= @contact.first_name %> <%= @contact.last_name %>
    <% else %>
      <% @contact.actions.each do |action| %>
        <%= render 'actions/show', action: action %>
      <% end %>
    <% end %>
  </div>

</div>
