<div class="container">
  <h1>Ma liste de contacts</h1>
  <%= link_to "Ajouter un nouveau contact", new_contact_path %>

  <div id="contacts-wrapper">
    <% if current_user.contacts.empty? %>
      <h2>Ajoutez vos premiers contacts</h2>
    <% else %>
      <div id="contacts-list">
        <div class="card">
          <% current_user.contacts.each do |contact| %>
            <div class="contact">
              <%= link_to contact_path(contact), remote:true do %>
                <div class="contact-list-preview">
                  <div class="contact-list-name">
                    <%= contact.first_name %> <%= contact.last_name %>
                  </div>
                  <div class="contact-list-org">
                    <%= contact.organization.name %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <div id="contacts-show">
      <div id="contact-details">
      </div>
    </div>

    <% end %>
  </div>
</div>
