<div class="row">
  <div class="col-xs-12 col-sm-offset-4 col-sm-4">
    <%= simple_form_for(@organization) do |f| %>
      <%= f.input :name, label: 'Nom' %>
      <%= f.input :address, label: 'Adresse' %>
      <%= hidden_field_tag 'contact_id', params[:contact_id] %>
      <%= f.submit 'Créer' %>
    <% end %>
  </div>
</div>
